h1{
    text-align: center;
    font-size:xx-large;
    font-style: oblique;
    color: #e40202;
    
}
p{
    text-align: center;
    color: blueviolet;
    font-size: larger;
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
